<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hailer.news">

    <!--<uses-permission android:name=”android.permission.INTERNET”>-->

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:name="com.hailer.news.NewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bcc36b4f97d2d3d59863f071cbe799d8630d178e"/>

        <activity
            android:name="com.hailer.news.home.NewsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hailer.news.home.ChannelManagerActivity">

        </activity>

        <activity
            android:name="com.hailer.news.home.NewsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeBack"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="com.hailer.news.contract.ContractUsActivity"
            android:theme="@style/AppThemeBack">

        </activity>

        <activity android:name="com.hailer.news.home.LoginByFacebookActivity"
            android:theme="@style/AppCompatActivityDialogTheme">

        </activity>

        <activity android:name=".home.CommentsListActivity"
            android:theme="@style/AppThemeBack">

        </activity>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>